{% extends 'base.html' %}

{% load humanize %}

{% block head_title %}
Time sheets
{% endblock head_title %}

{% block content %}
<div class="min-vh-100">
    <div class="bg-warning px-5 pt-4 pb-3">
        <a class="text-dark"
            title="add time sheet"
            href="{% url 'overtime:time-sheet-create' %}"><span
                class="material-symbols-outlined fs-1">
                add
            </span></a>
    </div>

    <div class="px-3 py-5">
        <form class="border rounded-pill shadow p-4 mb-3 col-lg-8 mx-auto"
            action="{% url 'overtime:time-sheet-list' %}"
            method="get">
            <div class="d-flex justify-content-between">
                <div class="">
                    <label for="">Employee</label>
                    <select class="form-control-sm form-comtrol rounded-pill"
                        name="employee"
                        id="">
                        {% for object in employee_list %}
                        <option class="rounded-pill form-control"
                            value="{{object.pk}}">
                            {{object}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="">
                    <input class="form-control form-control-sm rounded-pill"
                        type="date"
                        name="start_date"
                        placeholder="start date"
                        id="">
                </div>
                <div class="">
                    <input class="form-control form-control-sm rounded-pill"
                        type="date"
                        name="end_date"
                        placeholder="end date"
                        id="">
                </div>
                <div class="text-end">
                    <button class="btn btn-sm btn-outline-dark"
                        type="submit">Filter</button>
                </div>
            </div>


        </form>
        <div class="row border-bottom border-top mt-5 mb-3">
            <div class="col">
                <h1 class="display-4">Time sheets</h1>
            </div>
            <div class="col text-end">
                <span id="mySpan"
                    class="display-4"></span>
            </div>
        </div>
        <div class="my-2">
            {% include 'components/pagination.html' %}
        </div>
        <table class="table table-hover table-sm small">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th class="col-3" scope="col">Reason</th>
                    <th class="col-1" scope="col">Start/End</th>
                    <th class="col-1" scope="col">Multiplier</th>
                    <th class="col-1" class="col-1"scope="col">Employee</th>
                    <th scope="col">Created</th>
                    <th scope="col">Hours</th>
                    <th scope="col">Overtime</th>
                    <th scope="col">
                        <div class="text-center">
                            <span title="details"class="material-symbols-outlined">
                                more_vert
                            </span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}

                <tr>
                    <th scope="row">{{forloop.counter}}</th>

                    <td>{{object.date}}</td>
                    <td title="{{object.reason}}">
                        {{object.reason|truncatechars:60}}</td>
                    <td>{{object.start_time}} - {{object.end_time}}</td>
                    <td>{{object.multiplier}}</td>
                    <td>{{object.created_by.profile}}</td>
                    <td>{{object.created_at|naturaltime}}</td>
                    <td>{{object.time_diff}} hrs</td>
                    <td id="get_overtime">XCD${{object.get_overtime}}</td>
                    <td>
                        <a class="text-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{object.pk}}">
                            <span title="details" class="material-symbols-outlined">
                                info
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="my-2">
            {% include 'components/pagination.html' %}
        </div>
    </div>
</div>

{% for object in object_list %}


<!-- Modal -->
<div class="modal fade"
    id="exampleModal{{object.pk}}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel">{{object.created_by}}</h5>
                <button type="button"
                    title="close"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                XCD${{object.get_overtime}}
            </div>
            <div class="modal-footer">
                <a title="edit"
                    class="fs-3 text-warning"
                    href="{% url 'overtime:time-sheet-update' object.pk %}">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </a>
                <a title="edit"
                    class="fs-3 text-danger"
                    href="{% url 'overtime:time-sheet-delete' object.pk %}">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    const ot = document.querySelectorAll('#get_overtime');
    var i;
    var ot_array = [];
    for (i = 0; i < ot.length; i++) {
        const ot_each = ot[i].innerHTML;
        ot_slice = ot_each.slice(4)
        ot_float = parseFloat(ot_slice)
        ot_array.push(ot_float)
        //total = total +=
        console.log(ot_array)
    }
    var ot_array = ot_array
    var sum = 0;

    for (var i = 0; i < ot_array.length; i++) {
        sum += ot_array[i];
    }
    console.log(sum.toFixed(2))
    document.getElementById('mySpan').innerHTML = "XCD" + sum.toFixed(2)
</script>

{% endblock content %}